/* .show-container > .container {
  margin-bottom: 40px;
}
.show-container .header,
.show-container .content,
.show-container .footer,
.show-container .sidebar {
  background: ;
  color: ;
  text-align: center;
}
.show-container .header,
.show-container .footer {
  line-height: 56px;
  background: ;
}
.show-container .content {
  line-height: 120px;
  background: ;
}
.show-container .sidebar {
  line-height: 120px;
}
.show-fake-browser {
  border: 1px solid;
  box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  background: ;
}
.show-fake-browser.sidebar-page .sidebar {
  height: 700px;
  box-shadow: ;
}
.show-fake-browser.sidebar-page .sidenav {
  flex: 1 1 auto;
  width: 100%;
}
.show-fake-browser.sidebar-page .sidenav-collapse-in {
  overflow-y: auto;
}
.show-fake-browser.sidebar-page .header {
  padding: 0 20px;
}
.show-fake-browser.sidebar-page .content {
  padding: 20px;
  margin: 20px;
  background: ;
}
.show-fake-browser.sidebar-page .nav-toggle {
  border-top: 1px solid;
}
.show-fake-browser.navbar-page .content {
  padding: 20px;
  margin: 20px;
  height: 500px;
  background: ;
}
.show-fake-browser.navbar-page .footer {
  padding: 20px;
}
.show-fake-browser.login-page .content {
  padding: 20px;
  margin: 20px;
  height: 500px;
}
.show-fake-browser.login-page .footer {
  padding: 20px;
}
.show-fake-browser.login-page .panel {
  background: ;
  margin-top: 70px;
} */
